.main-frame {
  height: 800px;
  background-color: lightblue;
}

.info-bar {
  height: 100px;
  background-color: lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 50px;
}

.game-frame {
  height: 400px;
  width: 600px;
  background-color: grey;
  display: flex;
  position: relative;
  margin: auto;
}
.plank {
  height: 20px;
  width: 400px;
  background-color: rgb(143, 72, 25);
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
}
.stabilizer {
  height: 10px;
  width: 10px;
  background-color: black;
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

.button-reset {
  height: 50px;
  width: 100px;
  background-color: orange;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  position: fixed;
  top: 60%;
  transform: translateX(-50%);
  left: 50%;
}